* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #eff3f7;
  height: 100%;
}

.header_Container {
  width: 100%;
  background-color: #38ada9;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 15px 16px -5px rgba(199, 199, 199, 1);
  -moz-box-shadow: 0px 15px 16px -5px rgba(199, 199, 199, 1);
  box-shadow: 0px 15px 16px -5px rgba(199, 199, 199, 1);
}
.header_Container .AppName span {
  text-transform: uppercase;
}
.header_Container .AppName {
  text-transform: lowercase;
  font-size: 35px;
  font-weight: bold;
}
